/*! Color Pallette */
#colorPallette{
  color: #C3F73A;
  color: #95E06C;
  color: #68B684;
  color: #094D92;
  color: #1C1018;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: #094D92;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #C3F73A;
}

.App-logo {
  height: 40vmin;
  width: auto;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.QuestionCard{
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 15%);
}

.ui.card>.content,
.ui.cards>.card>.content {
  background-color: #68B684;
  color: #C3F73A;
  border: 0.5px solid #C3F73A;
}

button{
  outline-style: none;
  color: #1C1018;
  background-color: #95E06C;
  border: 2px solid #68B684;
  border-radius: 12%;
  min-width: 15%;

  position: relative;
  bottom: 5%;
  -ms-transform: translate(-0%, -50%);
  transform: translate(-0%, -50%);
}

button:hover{
  background-image: -moz-none;
  background-image: -webkit-none;
  background-image: -webkit-none;
  background-image: -o-none;
  background-image:none;
  background-color: #C3F73A;
  color: #094D92;
  box-shadow: 5px 5px 5px #1C1018;
}

button:active {
  box-shadow: 0 5px #1C1018;
}

.answers{
  display: flex;
  justify-content: space-evenly;
  padding: 5% 5% 0 5%;
}

.answers button{
  color: #094D92;
  border: 2px solid #094D92;
  background-color: #1C1018;
  padding: 2%;
}